<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         testdox="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">api</directory>
            <directory suffix=".php">config</directory>
            <directory suffix=".php">public</directory>
        </whitelist>
    </filter>
</phpunit>